Answers for Week 1

    Name: Wendy Oosterhof
    Username: wroosterhof
    Student s-number: S6328091
    Group: AS6

# Energy and frequency

With Planck's constant $h$, we write the relation between energy and frequency as:

$$E = hf$$

$$E = \frac{hc}{\lambda}$$

$$F=G\frac{m_1 m_2}{r^2}$$

$$\sin(2x) = 2 \sin(x) \cos x = \frac{2\tan (x)}{1+\tan^2 (x)}$$

In [4]:
from math import *

alpha_d = 30  #degrees
alpha_r = radians(alpha_d) #radians

0.5235987755982988

In [11]:
a1 = sin(2*alpha_r)
print("a1 :", a1)

a2 = 2*sin(alpha_r)*cos(alpha_r)
print("a2 :", a2)

a3 = (2*tan(alpha_r))/(1 + (tan(alpha_r)**2))
print("a3 :", a3)

a1 : 0.8660254037844386
a2 : 0.8660254037844386
a3 : 0.8660254037844386

$$ \sum_{k=0}^{\infty} \frac{1}{4k^2-1} = \frac{1}{2} $$

$$ \int_{0}^{\pi} e^{ix} dx = 2i $$

The code for a lambda according to Detextify is \lambda

In [15]:
from IPython.display import display, Math
from math import sin, pi

x = 9
Lambda = 0.5

s = rf"\sqrt({x}) = {x**0.5}\ and \sin(\lambda \pi)={sin(Lambda*pi)}"
print(s)

m= Math(s)
display (m)

\sqrt(9) = 3.0\ and \sin(\lambda \pi)=1.0

In [29]:
from math import exp, log
x = int(input("any value"))
b1 = exp(log(x))
print(b1)

any value 10

10.000000000000002

In [28]:
from math import factorial
n = int(input("any value again"))
c = factorial(n)
print(c)

any value again 100

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

It tells us that there is no limit to the integers

In [43]:
from math import *

x = 2
y = 3
phi = atan2(y,x)
print("phi =", phi)
t = tan(phi)
b = y/x
print("tan(phi) =", t)
print("y/x =", b)

print(t == b)

phi = 0.982793723247329
tan(phi) = 1.5
y/x = 1.5
True

In [55]:
from math import *
x = int(input())
print("x = ", x)
y = int(input())
print("y = ", y)

phi = atan2(y,x)
print("The angle between the x axis and the line between the origin in degrees is", degrees(phi))
if x >= 0 and y >= 0:
    print("Quadrant 1")
elif x <= 0 and y>=0:
    print("Quadrant 2")
elif x >= 0 and y <= 0:
    print("Quadrant 4")
else:
    print("Quadrant 3")

 -3

x =  -3

 -4

y =  -4
The angle between the x axis and the line between the origin in degrees is -126.86989764584402
Quadrant 3

The difference between atan2() and atan() is that with the atan2 you can put in 2 variables while we can only put in one variable when we use atan().

In [84]:
x = [1.36, 1.46, 1.41, 2.12, 0.42, 0.98, 0.45, 1.97, -0.24, 2.18]
x.append(0.51)
x.remove(2.12)
print(f"The value for index 6 is: {x[6]}.")
print(f"The index value for the value 1.46 is: {x.index(1.46)}.")

indices = slice(2,-2,2)
x_slice = x[indices]
print(x_slice)
print(f"The sum of the slice is: {sum(x_slice)}.")

The value for index 6 is: 1.97.
The index value for the value 1.46 is: 1.
[1.41, 0.98, 1.97]
The sum of the slice is: 4.359999999999999.

In [85]:
night1 = [1,3,2,4,0,3,7,5,2,9,2,4,3]
night2 = [0,0,2,4,2,4,3,2,1,1,1,2,0]
set1 = set(night1)
set2 = set(night2)
b = set.intersection(set1,set2)
list(b)
if 5 in b:
    print("5 is in the intersection list.")
else:
    print("5 is not in the intersection list.")
    
if 5 in set1:
    print("5 is in the night 1 set")
else:
    print("5 is not in the night 1 set")

5 is not in the intersection list.
5 is in the night 1 set

# Question 2.18
both contents of list b and list c will also have the second index's value changed to 0.
It is possible to copy a sequence like a python list by using the method copy(). So in this case that could be b = a.copy().